:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	--text-colour: hsl(0, 0%, 90%);
	--bg-colour: hsl(0, 0%, 8%);
	--secondary-bg-colour: hsl(0, 0%, 10%);
	color: var(--text-colour);
	background-color: var(--bg-colour);

	--success-color: oklch(0.71 0.28 146.51);
	--failure-color: oklch(0.64 0.27 26.67);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	overflow: hidden;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

#app {
	width: 100vw;
	height: 100vh;
	display: grid;
}

nav {
	height: 10vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

nav>a {
	display: block;
	background: var(--secondary-bg-colour);
	flex-grow: 1;
	height: 100%;
	text-align: center;
	align-content: center;
	color: var(--text-colour);
	text-decoration: none;
	font-size: 5vh;

	&:nth-child(1) {
		border-right: 1px solid var(--text-colour);
	}
	&:nth-child(2) {
		border-left: 1px solid var(--text-colour);
	}
}

#timer-section {
	height: 75vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#timer {
	font-size: 50vh;
	background-color: var(--text-colour);
	color: black;
	width: 70%;
	height: 70%;
	text-align: center;
	line-height: 100%;
}

#bottom-section {
	height: 15vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-top: var(--text-colour) 1px solid;
}

#bottom-section>* {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: var(--secondary-bg-colour);
	display: grid;
	place-items: center;
	font-size: 3em;
}

#changes-box {
	overflow: hidden;
	width: 100%;
}

#changes-box .change {
    width: 100%;
    height: 7.5vh;
	position: absolute;
	font-size: 5vh;
}

#changes-box .change>div {
	text-align: center;
	display: block;
	width: 100%;
	align-self: center;
}

#changes-box .change {
	&.change-0 {
		top: -50%;
		transition: top 0.5s;
	}
	&.change-1 {
		top: 0;
		transition: top 0.5s;
	}
	&.change-2 {
		top: 50%;
		transition: top 0.5s;
	}
	&.change-3 {
		top: 100%;
		transition: none;
	}
}

#score-box {
	width: 60%;
}

#score {
	width: 100%;
	height: 100%;
	background-color: var(--text-colour);
	color: black;
	display: grid;
	place-items: center;
}

#cycle-timer {
	width: 50%;
	justify-items: baseline;
	margin-left: 20%
}

#chart-div {
	width: 80vw;
}

.modal {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0.5);
	display: flex;
	flex-direction: column;
	gap: 2%;
	opacity: 0;

	background: linear-gradient(135deg, hsl(0, 0%, 13%) 0%, var(--secondary-bg-colour) 30%);

	box-sizing: border-box;
	width: 30vw;
	padding: 3%;

	border: 1px solid var(--text-colour);
	border-radius: 3vmin;
	box-shadow: 5px 5px 5px hsl(0, 0%, 5%);
	overflow-x: hidden;
	filter: blur(5px);
	transition: transform 250ms, opacity 250ms, filter 250ms;
}

.modal#saveModal {
	height: 50vh;
}

.modal#runModal {
	height: 80vh;
}

.modal.shownModal {
	transform: translate(-50%, -50%) scale(1);
	filter: none;
	opacity: 1;
}

#modalHeaderContainer {
	height: 10%;
	flex-basis: 10%;
	text-align: center;
	font-size: 5vh;
	margin: 0;
	align-items: center;
}

#modalHeader {
	display: block;
	width: 100%;
	margin: 0;
	text-align: center;
	align-self: center;
}

#modalContent {
	height: 100%;
	overflow-y: scroll;
	scrollbar-width: thin;
	border-top: 1px solid var(--text-colour);
	box-shadow: inset 0px 5px 5px -5px hsl(0, 0%, 25%);
	padding: 5%;
}

#saveModal>#modalContent {
	overflow-y: hidden;
}

#modalContent>form {
	height: 100%;
	overflow: hidden;
}

#runNameInputLabel {
	display: block;
	font-size: 1.5em;
	margin: 0;
	width: 100%;
	text-align: center;
}

#runNameInput, #runNameSubmit {
	box-sizing: border-box;
	width: 100%;
	height: 20%;
	margin: 3% 0 0;
	padding: 0 1em;
	border-style: solid;
	border-radius: 100vh;
}

#runNameSubmit {
	cursor: pointer;
}

#runNameNote {
	margin: 0 0 5%;
	font-size: 0.8em;
	width: 100%;
	text-align: center;
}

#modalContent h2 {
	margin-top: 5%;
	&.firstModalHeader {
		margin: 0;
	}
}

#modalContent .modalContentSubtitle {
	font-size: 1.1em;
	margin: 0;
}

#modalContent ul {
	margin: 0;
}

#cycleTable {
	width: 100%;
	flex-grow: 1;
	flex-shrink: 100;
	overflow-y: scroll;
	border: 1px solid var(--text-colour);
	margin: 2% 0;
}

#cycleTable th {
	text-align: left;
	text-decoration: underline;
}

#cycleTable th:nth-child(1) {
	width: 30%;
}

#modalContent samp {
	margin: 5% 0;
	padding: 5%;
	display: block;
	background-color: rgb(54, 54, 54);
	border: var(--text-colour) solid 1px;
}