:root {
	font-family: Arial, system-ui, Avenir, Helvetica, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	--text-color: hsl(0, 0%, 90%);
	--bg-color: hsl(0, 0%, 8%);
	--secondary-bg-color: hsl(0, 0%, 10%);
	color: var(--text-color);
	background-color: var(--bg-color);

	--accent-color: hsl(0, 0%, 25%);
	--accent-hover-color: hsl(0, 0%, 35%);

	--success-color: oklch(0.71 0.28 146.51);
	--failure-color: oklch(0.64 0.27 26.67);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	overflow: hidden;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.text-center {
	text-align: center;
}

#app {
	width: 100vw;
	height: 100vh;
}

nav>a {
	display: block;
	height: 100%;
	text-align: center;
	color: var(--text-color);
	text-decoration: none;
}

button,
input[type="submit"] {
	cursor: pointer;
	font-family: inherit;
}

#timer-section {
	display: grid;
	place-items: center;
}

#timer {
	background-color: var(--text-color);
	color: black;
	text-align: center;
	line-height: 100%;
}

#bottom-section {
	display: flex;
	justify-content: space-evenly;
	border-top: 5px solid var(--text-color);
}

#bottom-section>* {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: var(--secondary-bg-color);
	display: grid;
	place-items: center;
	font-size: 3em;
}

#changes-box {
	overflow: hidden;
}

#changes-box .change {
	width: 100%;
	height: 7.5vh;
	position: absolute;
	font-size: 5vh;
}

#changes-box .change>div {
	text-align: center;
	display: block;
	width: 100%;
	align-self: center;
}

#changes-box .change {
	&.change-0 {
		top: -50%;
		transition: top 0.5s;
	}

	&.change-1 {
		top: 0;
		transition: top 0.5s;
	}

	&.change-2 {
		top: 50%;
		transition: top 0.5s;
	}

	&.change-3 {
		top: 100%;
		transition: none;
	}
}

#score-box {
	width: 60%;
}

#score {
	width: 100%;
	color: black;
	display: grid;
	place-items: center;
}

#cycle-timer {
	width: 50%;
	justify-items: baseline;
	margin-left: 20%
}

#chart-div {
	display: grid;
	place-content: center;
	padding: 2vh 2vw;
	box-sizing: border-box;
	place-self: center;
}

.modal {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0.5);
	display: flex;
	flex-direction: column;
	gap: 2%;
	opacity: 0;

	background: linear-gradient(135deg, hsl(0, 0%, 13%) 0%, var(--secondary-bg-color) 30%);

	box-sizing: border-box;
	width: 30vw;
	padding: 2%;

	border: 4px solid var(--text-color);
	border-radius: 3vmin;
	box-shadow: 5px 5px 5px hsl(0, 0%, 5%);
	overflow-x: hidden;
	filter: blur(5px);
	transition: transform 250ms, opacity 250ms, filter 250ms;
}

.modal#saveModal,
.modal#runModal {
	height: 75vh;
}

.modal#confirmationModal {
	height: 60vh;
}

.modal.shownModal {
	transform: translate(-50%, -50%) scale(1);
	filter: none;
	opacity: 1;
}

#modalHeaderContainer {
	height: 10%;
	flex-basis: 10%;
	text-align: center;
	font-size: 0.8vw;
	margin: 0;
	align-items: center;
}

#modalHeader {
	display: block;
	width: 100%;
	margin: 0;
	text-align: center;
	align-self: center;
}

#modalContent {
	height: 100%;
	overflow-y: scroll;
	scrollbar-width: thin;
	border-top: 2px solid var(--text-color);
	box-shadow: inset 0px 5px 5px -5px hsl(0, 0%, 25%);
	padding: 5%;
	border-bottom: inset 10px;
	border-image: linear-gradient(180deg, red, blue);
}

#saveModal>#modalContent>form {
	height: 50%;
	overflow: hidden;
}

#runNameInputLabel {
	display: block;
	font-size: 1.5em;
	margin: 0;
	width: 100%;
	text-align: center;
}

#runNameInput,
#runNameSubmit {
	box-sizing: border-box;
	width: 100%;
	height: 20%;
	margin: 3% 0 0;
	padding: 0 1em;
	border: 1px solid;
	border-radius: 100vh;
}

#runNameSubmit {
	cursor: pointer;
}

#runNameNote {
	margin: 0 0 5%;
	font-size: 0.8em;
	width: 100%;
	text-align: center;
}

#modalContent h2 {
	margin-top: 5%;

	&.firstModalHeader {
		margin: 0;
	}
}

#modalContent .modalContentSubtitle {
	font-size: 1em;
	margin: 1vh 0;
}

#modalContent ul {
	margin: 0;
}

#cycleTable {
	width: 100%;
	flex-grow: 1;
	flex-shrink: 100;
	overflow-y: scroll;
	border: 1px solid var(--text-color);
	margin: 2% 0;
}

#cycleTable th {
	text-align: left;
	text-decoration: underline;
}

#cycleTable th:nth-child(1) {
	width: 30%;
}

#modalContent samp {
	margin: 5% 0;
	padding: 5%;
	display: block;
	background-color: rgb(54, 54, 54);
	border: var(--text-color) solid 1px;
}

#modalContent #downloadRun,
#modalContent #deleteRun,
#modalContent #confirmDanger {
	margin-top: 2%;
	display: block;
}

#modalContent #downloadRun {
	margin-top: 5%;
}

#modalContent #downloadRun>button,
#modalContent #deleteRun {
	width: 100%;
	height: 1.5lh;
	font-size: 1rem;
	border: solid 1px;
	border-radius: 100vmax;
	background-color: var(--accent-color);

	&:hover {
		background-color: var(--accent-hover-color);
	}
}

#loading-spinner {
	position: absolute;
	place-self: center;
	visibility: hidden;
	opacity: 0;
}

#loading-spinner.shownSpinner {
	visibility: visible;
	opacity: 1;
	transition: opacity 250ms;
}

.loading-container {
	--loading-size: 5vw;
	--loading-color: white;
	--loading-speed: .8s;
	--loading-bg-opacity: 0.1;
	height: var(--loading-size);
	width: var(--loading-size);
}

#loading-spinner.shownSpinner .loading-container {
	animation: rotate var(--loading-speed) linear infinite;
}

.loading-car {
	stroke: var(--loading-color);
	stroke-dasharray: 25, 75;
	stroke-dashoffset: 25;
	stroke-linecap: round;
}

.loading-track {
	stroke: var(--loading-color);
	opacity: var(--loading-bg-opacity);
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

#settings-container .settings-section-container {
	padding: 3% 5% 0 5%;
	margin: 0;

	& h1 {
		font-size: 2.5em;
		margin: 0 0 1% 0;
	}
}

#settings-container #settings-normal-container {
	grid-area: 1 / 1 / 2 / 2;
	/* background-color: red; */

	display: flex;
}

#settings-container #settings-save-container {
	grid-area: 1 / 2 / 2 / 3;
	/* background-color: green; */
}

#settings-container #settings-timer-container {
	grid-area: 2 / 1 / 2 / 2;
	/* background-color: blue; */
}

#settings-container #settings-danger-container {
	grid-area: 2 / 2 / 2 / 3;
	/* background-color: yellow; */
}

#settings-layouts-container {
	display: flex;
	column-gap: 5vw;
	cursor: pointer;
}

.settings-layout {
	width: 15%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5%;
	border: 2px solid transparent;
}

.settings-layout.selected {
	border: 2px solid white;
}

.settings-layout-image {
	width: 100%;
	aspect-ratio: 16 / 9;
	border: 1px solid white;
	
	&>img {
		width: 100%;
		height: 100%;
	}
}

.settings-button,
#modalContent #confirmDanger {
	width: 100%;
	height: 2.8lh;
	font-size: 1.2em;
	border: solid 3px;
	border-radius: 100vmax;
	background-color: var(--accent-color);

	&:hover {
		background-color: var(--accent-hover-color);
	}
}

.settings-button#settings-save-button,
#modalContent #confirmDanger {
	margin-top: 5%;
}

.settings-timer-line {
	font-size: 1.3em;
	width: 50%;
	padding: 0.2lh 0;
}

.settings-timer-value {
	display: block;
	float: right;
	width: 50%;
	height: 100%;

	& input {
		width: 15ch;
		height: 100%;
		margin-right: 1ch;
		padding: 0.2lh 1ch;
		border: 1px solid;
		border-radius: 100vh;
		box-sizing: border-box;
		font-family: inherit;

		&.invalid {
			border-color: red;
		}
	}
}

.settings-danger-section {
	display: flex;
	flex-direction: column;
	gap: 1lh;

	& input[type=button] {
		cursor: pointer;
	}
}

#challengeInput {
	box-sizing: border-box;
	width: 100%;
	height: 10%;
	margin: 0;
	padding: 0 1em;
	border: 1px solid;
	border-radius: 100vh;

	&.invalid {
		border-color: red;
	}
}

#about-header {
	text-align: center;
	margin-bottom: 0
}